section{
    margin-bottom: 20px;
}

#foto-da-escola{
    width: 100%;
}

#grupos article div{
    display: flex;
    justify-content: center;
}

#fotos article{
    display: flex;
    flex-direction: column;
}

#fotos article img{
    margin: 10px auto;
    max-width: 90%;
}